#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $Color3;
  z-index: 5;
  opacity: 1;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  .loading__img {
    width: $loadingIconWidth;
    position: relative;
    img {
      width: 100%;
      &:nth-child(2) {
        width: $loadingIconWidth * (740/1826);
        position: absolute;
        top: $loadingIconWidth * 0.50675;
        left: 50%;
        margin-left: $loadingIconWidth * (740/1826) * -0.5;
        animation: spin $SpinDuration linear infinite;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.1);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
@media only screen and (max-height: $loadingIconWidth * 1.75) {
  #loading > .loading__img {
    width: $SmallloadingIconWidth;
  }
  #loading > .loading__img > img:nth-child(2) {
    width: $SmallloadingIconWidth * (740/1826);
    top: $SmallloadingIconWidth * 0.50675;
    margin-left: $SmallloadingIconWidth * (740/1826) * -0.5;
  }
}
